<div th:fragment="head">
    <p></p>
    <p class="header text-left"><img src="/DLA_LOGO.png" alt="DevLabs Alliance" style="vertical-align:bottom">
    </p>
    <div class="header text-center">
    <p><h1>SkillWise</h1> <h4>a training company MIS</h4> </p>

    <p class="my-5"> <a href="/addtrainer"> Add Trainer</a> | <a href="/searchtrainer">Search Trainer</a> | <a href="/addbatch">Add Batch</a> </p>
    </div>
    <!-- javascripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js">
    </script>
</div>